<script id="desactivateform" type="text/x-handlebars-template">
	<div class="ui middle center aligned grid">
		<div class="ui four column grid" id="loginBox">
			<div class="content">
				<h2 class="ui orange image header">Log-in to your account </h2>
			</div>
			<div class="ui" id="loginButton">
				<button class="ui google plus button large disabled" id="logIn">
					Login with Google
				</button>
			</div>
			<div class="ui warning message">
				There is no internet connection. Please try later
			</div>
		</div>
	</div>
</script>